<div id="lasso-amazon-credentials-update" class="row alert green-bg white shadow mb-0 collapse" href="#lasso-amazon-credentials-update" data-toggle="collapse">
	<div class="col text-center p-3">
		<span>
			Amazon has updated their API requirements.
			<strong><a href="{{:amazon_settings_url}}" class="text-white"><ins>Please update your API credentials</ins></a></strong>.
		</span>
		<button class="close white" href="#lasso-amazon-credentials-update">
			<i class="far fa-times-circle"></i>
		</button>
	</div>
</div>
