<div id="lasso-earnings-notification" class="row alert green-bg white shadow mb-0 collapse" href="#lasso-earnings-notification" data-toggle="collapse">
	<div class="col text-center p-3">
		<span>
			You earned <strong>{{:earnings_display}}</strong> from Lasso brand deals.
			<strong><a href="{{:signup_url}}" class="text-white" target="_blank" rel="noopener"><ins>Create your account</ins></a></strong> to claim your earnings.
		</span>
		<button class="close white" href="#lasso-earnings-notification">
			<i class="far fa-times-circle"></i>
		</button>
	</div>
</div>
